.province {
    border: 1px solid black;
    width: 302px;
    min-height: 200px;
    padding: 5px;
}

.selected {
    border: 3px solid black !important;
}

.card {
    width: 50px;
    height: 75px;
    border: 1px solid black;
    margin: 4px;
    color: white;
}

.stack {
    display: inline-block;
    margin: 0;
    padding: 60px 0 0 0;
}

.stack .card {
    display: block;
    margin-top: -60px;
}

.hand .card {
    display: inline-block;
}

.card.red {
    background-color: #d9534f;
}
.card.yellow {
    background-color: #f0ad4e;
}
.card.blue {
    background-color: #5bc0de;
}
.card.purple {
    background-color: #6f5499;
}
.card.green {
    background-color: #5cb85c;
}
.card.ninja {
    background-color: #777777;
}

.notifications {
    min-width: 30%;
}
